#bash {
    text-align: center;
}
#lorem1 {
    text-align: center;  
    font-size: 250%;
    font: optional;
}
#lorem2 {
    display: inline-block;
    text-align: left; 
    font-size: 150%; 
    
}
#lorem3 {
    display: inline-block;
    text-align: right;
    font-size: 150%;
    
}